body {
background-color: rgb(255, 255, 242);
}


#stream{
  margin-top: 40px;
}

#answers {
  list-style: none;
  width: 60vw;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.item {
  display: grid;
  width: 100vw;
}

.demo-card-wide.mdl-card {
  width: 60vw;
}

.mdl-card__title-text {
  font-size: 18px;
}

li {
  text-align: left;
  width: 120px;
}

ul {
  width: 60%;
  margin: auto;
  list-style: none;
  font-size: 24px;
}

.demo-card-wide>.mdl-card__title {
  color: white;
  background-color: #6200ea;
}

.answer {
  text-align: left;
  width: 100%;
  background-color: rgb(255, 255, 217);
  border: rgb(255, 255, 122) 3px solid !important;
  border-radius: 8px;
}

#commentText {
  word-break: break-all;
}

.heading {
  position: relative;
  top: 0;
  left: 0;
}

#addPost {
  width: 40px;
  height: 56px;
  padding: 2vw;
  position: fixed;
  bottom: 10;
  right: 23;
  background-color: #6200ea;
}

#leaderboard {
  width: 40px;
  height: 56px;
  padding: 2vw;
  position: fixed;
  bottom: 10;
  left: 23;
  background-color: #6200ea;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 20vw;
  top: 0;
  width: 60vw;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

#table {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 20vw;
  top: 0;
  width: 60vw;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-left: 68%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.postQuestionTextBox {
  width: 50vw;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: black;
  opacity: 0.5;
}

.wordBreakable {
  word-wrap: break-word;
}

#leaderboardButton{
  width: 50px;
  height: 50px;
  padding: 2vw;
  position: fixed;
  bottom: 10;
  left: 23;
}

.leaderboard-item{
  margin-bottom: 20px;
}

#leaderboardViewThingy{
  position: fixed;
  top: 0;
  left: 0;
  margin: 130px;
  height:100vw;
  background-color: #fbf9ff;

border: #6200ea 4px solid;

padding: 36px;

border-radius: 8px;
}

.mdl-layout__header{
  background-color: #6200ea;
}

.custom-cards {
  border: #6200ea 3px solid !important;
  border-radius: 8px;
  background-color: #fbf9ff;
}

.custom-buttons {
  background-color: #6200ea;
  color: white;
}

h6 {
  margin: 0;
  padding: 0;
}

h4 {
  left: 36%;

position: relative;
}