/*
  CSS GOES HERE
*/

#stream{
  list-style: none;
}

.demo-card-wide.mdl-card {
  width: 60vw;
}

.mdl-card__title-text {
  font-size: 18px;
}

li.item {
  margin: 5vh;   
}

ul {
  width:60%;
  margin:auto;
}

.demo-card-wide > .mdl-card__title {
  color:white;
  background-color: #602dad;
}
