#stream,
#answers {
  list-style: none;
}

#answers {
  width: 60vw;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.item {
  display: grid;
}

.demo-card-wide.mdl-card {
  width: 60vw;
}

.mdl-card__title-text {
  font-size: 18px;
}

ul {
  width: 60%;
  margin: auto;
}

.demo-card-wide>.mdl-card__title {
  color: white;
  background-color: #602dad;
}

.answer {
  text-align: left;
}

#commentText {
  word-break: break-all;
}

#addPost {
  width: 50px;
  height: 50px;
  padding: 2vw;
  position: fixed;
  bottom: 10;
  right: 23;
}

#leaderboard {
  width: 50px;
  height: 50px;
  padding: 2vw;
  position: fixed;
  bottom: 10;
  left: 23;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 20vw;
  top: 0;
  width: 60vw;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

#table {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 20vw;
  top: 0;
  width: 60vw;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-left: 68%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.postQuestionTextBox {
  width: 50vw;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: black;
  opacity: 0.5;
}

.wordBreakable {
  word-wrap: break-word;
}

#leaderboardButton{
  width: 50px;
  height: 50px;
  padding: 2vw;
  position: fixed;
  bottom: 10;
  left: 23;
}